################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/02/2.3/.vs/2.3/v15/Browse.VC.opendb
