
01/\.vs/01/v15/\.suo

01/\.vs/01/v15/Browse\.VC\.db

01/\.vs/01/v15/ipch/a7358169ffa75d8c\.ipch

01/01\.sln

*.vcxproj

01/01/01\.vcxproj\.filters

*.user

01/01/stdafx\.cpp

01/01/stdafx\.h

01/01/targetver\.h

*.lnk

*.ini

\.vs/ProjectSettings\.json

\.vs/LabRep/v15/\.suo

\.vs/slnx\.sqlite

\.vs/StudentCpp/v15/\.suo

\.vs/StudentCpp/v15/Browse\.VC\.db

\.vs/VSWorkspaceState\.json

02/2\.1/\.vs/2\.1/v15/\.suo

02/2\.1/\.vs/2\.1/v15/Browse\.VC\.db

02/2\.1/\.vs/2\.1/v15/ipch/a20944eb63cf5402\.ipch

02/2\.1/2\.1/targetver\.h

02/2\.2/\.vs/2\.2/v15/\.suo

02/2\.2/\.vs/2\.2/v15/Browse\.VC\.db

02/2\.2/\.vs/2\.2/v15/ipch/e7adb6f083107952\.ipch

02/2\.2/2\.2/targetver\.h

02/2\.3/\.vs/2\.3/v15/Browse\.VC\.db

02/2\.3/2\.3/targetver\.h
/Шаблонный лист/.vs/Шаблонный лист/v15/.suo
/Шаблонный лист/.vs/Шаблонный лист/v15/Browse.VC.db
/Шаблонный лист/.vs/Шаблонный лист/v15/Browse.VC.opendb
/.gitattributes
